<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header&footer.css">
    <link rel="stylesheet" href="../css/contaOng.css">
    <link rel="stylesheet" href="../css/load.css">
    <link rel="icon" href="../images/iconeSite.png">
    <title>Techno Growing | ONG </title>
</head>
<body onload="myFunction()" style="margin:0;">
    <div id="loader"></div>
    <div style="display:none;" id="myDiv" class="animate-bottom">
        <!--header aqui-->
        <header>
            <div class="Container">
                <div class="logo">
                    <img src="../images/logotipo_sem_ONG- sem fundo.png">
                </div> 
                <div class="menu">
                    <nav>
                        <ul>
                            <a href="../"><li>Home</li></a>
                            <a href="../login"><li>Voltar</li></a>
                            <a href="../vagas"><li>Vagas</li></a>
                            <a href="../loja"><li>Loja</li></a>
                            <a href="../sobre"><li>Sobre</li></a>
                            <a href="../contato"><li>Contato</li></a>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <!--header aqui-->
        <!--Conteudo da pagina-->
        <div class="geral">
            <div class="container1">
                <div class="texto">Cadastar Ong</div>
                <form action="/contaOng" method="post">
                    <div class="data">
                        <label>Nome da ONG</label>
                        <input type="text" name="Nome" placeholder="Nome" required>
                    </div>
                    <!-- <div class="data2">
                        <label>Envie sua logo (PNG e JPG)</label>
                        <input type="file" accept="image/png,image/jpeg">
                    </div> -->
                    <div class="data">
                        <label>Email</label>
                        <input type="text" name="Email"  required placeholder="Email">
                    </div>
                    <div class="data">
                        <label>Senha</label>
                        <input type="password" name="password" placeholder="Senha" required>
                    </div>
                    <div class="data">
                        <label>Confirme sua Senha</label>
                        <input type="password" name="confirmpassword" placeholder="Confirmar senha" required>
                    </div>
                    <div class="data">
                        <label>Telefone</label>
                        <input name="Tel" required placeholder="Telefone ou celular" class="verifica_numerico" required="" type="text" maxlength="15" onKeyPress="MascaraGenerica(this, 'CELULAR');">
                    </div>
                        <div class="data">
                    <label>CNPJ</label>
                        <input type="text" name="CNPJ" placeholder="CNPJ" class="verifica_numerico" type="text" maxlength="18" onKeyPress="MascaraGenerica(this, 'CNPJ');">
                    </div>
                    <div class="data">
                        <label>Escolha sua Categoria</label>
                        <select id="class" name="Categoria">
                            <option>...</option>
                            <option value="animais">Animais</option>
                            <option value="reabilitacao">Reabilitação</option>
                            <option value="lgbt">LGBT+</option>
                            <option value="MeioAmbuiente">Meio Ambientes</option>
                            <option value="SeresHumanos">Seres Humanos</option>
                            <option value="Genero">Genero</option>
                            <option value="Escolar">Escolar</option>
                        </select>
                    </div>
                    <div class="data">
                        <label>CEP</label>
                        <input name="CEP" placeholder="CEP" class="verifica_numerico" type="text" maxlength="9" onKeyPress="MascaraGenerica(this, 'CEP');">
                    </div>
                    <div class="data">
                        <label>Rua</label>
                        <input type="text" placeholder="Endereço" name="Endereco" required>
                    </div>
                    <div class="data">
                        <label>Número</label>
                        <input type="text" name="Numero" placeholder="Numero" maxlength="10" required>
                    </div>
                    <div class="data">
                        <label>Complemento</label>
                        <input type="text" name="Complemento" placeholder="Complemento" required>
                    </div>
                    <div class="data">
                        <label>Bairro</label>
                        <input type="text" name="Bairro" placeholder="Bairro" required>
                    </div>
                    <div class="data">
                        <label>Cidade</label>
                        <input type="text" name="Cidade" placeholder="Cidade" required>
                    </div>
                    <div class="data">
                        <label>Estado</label>
                        <input type="text" name="Estado" placeholder="Estado" required>
                    </div>
                    
                    <div class="data">
                        <label>Rede Social</label>
                        <select id="redeSocial" name="RedeSocial">
                            <option>...</option>
                            <option value="facebook">Facebook</option>
                            <option value="linkedln">Linkedln</option>
                            <option value="instagram">Instagram</option>
                        </select>
                    </div>
                    <div class="data">
                        <label>Seu Site</label>
                        <input type="url" name="WebSite" placeholder="Web Site">
                    </div>
                    <div class="data">
                        <label>Link</label>
                        <input type="url" name="Url" placeholder="Link da Rede Social">
                    </div>
                    <div class="data">
                        <textarea name="Descricao" id="" cols="10" rows="5" placeholder="Sobre Sua Ong" required></textarea>
                    </div>
                    <div class="btn">
                        <button type="submit" id="enviar">Enviar</button></a>
                    </div>

                </form>
            </div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
            <script src="../js/pontoparaform.js"></script>
            <script src="../js/cep.js"></script>
            <script src="validandoemail.js"></script>
        </div>
        <div class="outraPagina">
            <div class="title2">Não é ONG? Crie como Usuario:</div>
            <div class="btn2">
                <a href="../contaUsuario"><button type="submit" id="contato">Sou Usuario</button></a>
            </div>
        </div>
        <!--Conteudo da pagina-->
        <!--footer aqui se prescisar-->
    </div>
    <script src="../js/load.js"></script>
    <script src="../js/cadastro.js"></script>

</body>
</html>